/*Customers*/

@media screen and (min-width: 290px) {
  .customers-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers-list-item {
    /* display: block; */
    margin-bottom: 30px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    width: calc(50% - 30px);
    /* height: 90px; */
  }

  .customers-logo {
    display: flex;

    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: #afb1b8;
    border-radius: 4px;
    max-width: 210px;
    height: 90px;
    font-size: 0;
    color: #afb1b8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

  .customers-icon {
    fill: currentColor;
  }

  .customers-logo:hover {
    color: $accent-color;
    border-color: $accent-color;
  }
}
