/* HEADER */

.page-header {
  /* width: 100%; */
  background-color: $primary-white-color;
  border-bottom: 1px solid #ececec;

  .logo {
    display: block;
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19em;
    letter-spacing: 0.03em;
    color: $main-black-color;
    margin-right: 85px;

    .logo-color {
      color: $accent-color;
    }
  }
}

/*оформлення меню*/

/* .main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.nav-item-link {
  font-family: $font-family-main;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: $primary-title-color;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-item-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-item {
  display: block;
  position: relative;
}

.current {
  color: $accent-color;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

/*оформлення маржінів і кольору контактів*/

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.contacts-item {
  display: flex;
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    fill: $accent-color;
  }
}

.contacts-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-item-link {
  display: flex;
  align-items: center;
  font-family: $font-family-main;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: $primary-title-color;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
